
/*=================global css================*/
.no.padding {
	padding: 0px;
	margin: 0px;
}


/*============Style css==========*/






/*========================================Header css==================================*/


header {
  background-color: #0a2345;
}



.logo {
    
}

.logo img {
    width: 214px;
    height: 64px;
    margin-top: 22px;
}





/*========================================Had css==================================*/
.had {
    background-color: #0a2345;
    overflow: : hidden;
    position: relative;
    height: 1400px;
}




/*============title==========*/
.title {

}


.title h1 {
    text-align: center;
    font-size: 65px;
    color: #2a5da3;
    font-size: 37px;
    width: 100%;
    margin-top: 227px;
}

.title p {
    color:#2a5da3;
    width: 100%;
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.btn {
    color: white;
    border: 2px solid #2a5da3;
    padding: 14px 30px 14px 30px;
    border-radius: 36px;
    background: transparent;
    text-align: center;
    margin: 0 auto;
}
.btn:hover {
    color: #1e477f;
}

/*============featuer==========*/

.featuer {
    background-image: url(../img/background.png);
    background-size: cover;
    overflow: hidden;
    height: 400px;
    margin-top: 301px;
    background-repeat: no-repeat;
    display: block;
}

.one {
    width: 33.33%;
    position: absolute;
    top: 670px;
}

.one img {
    width: 400px;
    height: 600px;
}

.two {
    width: 33.33%;
    position: absolute;
    right: 475px;
    top: 632px;
}

.two img {
    width: 450px;
    height: 670px;
}


.three {
    width: 33.33%;
    position: absolute;
    right: 20px;
    top: 670px;
}

.three img {
    width: 400px;
    height: 600px;
}











/*========================================features css==================================*/
.features {
    background-color: #0a2345;
    overflow: : hidden;
}

.area {
    padding-bottom: 505px;
}



/*============headphone ==========*/
.headphone {
    width: 50%;
    float: left;
}


.headphone img {
    width: 716px;
}


.des {
    width: 50%;
    float: right;
}


.des h2 {
    color: white;
    font-size: 36px;
    margin-top: 127px;
    text-align: inherit;
    margin-bottom: 27px;
}


.des p {
    color: white;
    width: 650px;
    text-align: initial;
    font-size: 12px;
    line-height: 30px;
}



/*============title-one ==========*/
.title-one {

}


.title-one h1 {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    margin: 0 auto;
    padding-top: 56px;
}


span {

}




/*============activity==========*/
.activity {
    margin-top: 193px;
    height: 774px;
}


/*============left==========*/
.left {
    height: 515px;
}

.left-one {
    margin-bottom: 60px;
    margin-top: 42px;
}


.left-one img {
    margin-bottom: 22px;
}

.left-one h2 {
    color: white;
    font-size: 20px;
    text-align: initial;
}


.left-one p {
    color: #746f65;
    text-align: inherit;
    font-size: 12px;
    margin-top: 34px;
}


/*============mobile==========*/
.mobile {
    top: -253px;
    right: 140px;
}

.mobile img {
    width: 773px;
    height: 1033px;
}



/*============right==========*/
.right {
    height: 515px;
}

.right-one {
    margin-bottom: 60px;
    margin-top: 42px;
}

.right-one img {
	margin-bottom: 22px;
	
} 


.right-one h2 {
	color: white;
    font-size: 20px;
    text-align: initial;
} 


.right-one p {
	color: #746f65;
    text-align: inherit;
    font-size: 12px;
    margin-top: 34px;
} 













/*========================================perspective css==================================*/
#perspective {
    background-color: #0a2345;
    width: 100%;
    overflow: hidden;
}



.area-two {
    margin-top: 70px;
}


/*============headphone ==========*/
.graphic {
    width: 50%;
    float: right;
}

.graphic img {
    width: 878px;
}



/*============text-one==========*/
.text-one {
    width: 50%;
    float: left;
    padding-left: 334px;
    padding-top: 100px;
}


.text-one img {
	
}


.text-one h2 {
    color: white;
    font-size: 30px;
    margin-top: 29px;
    text-align: inherit;
}

.text-one p {
    color: #5d5959;
    font-size: 15px;
    line-height: 32px;
    margin-top: 26px;
}












/*========================================discover css==================================*/
.discover {
    background-color: #0a2345;
    overflow: : hidden;
    position: relative;
}



/*============title-three==========*/
.title-three {
    padding-top: 230px;
}


.title-three h1 {
    color: white;
    text-align: center;
    margin: 0 auto;
}


.title-three p {
    color: #999292;
    font-size: 15px;
    margin: 0 auto;
    padding-top: 23px;
}





/*============coelous==========*/
.coelous {
    height: 890px;
}


.coelous img {
    width: 754px;
    height: 793px;
}



.btn-three {
    color: white;
    border: 2px solid #2a5da3;
    padding: 14px 30px 14px 30px;
    border-radius: 36px;
    background: transparent;
    text-align: center;
    margin-left: 478px;
    position: absolute;
    top: 1075px;
}


.btn-three:hover {
    color: #1e477f;

}






/*========================================footer css==================================*/
footer {
    background-color: #0a2345;
}

hr {
    border: 1px solid #807c7dc7;
    margin: 0 auto;
    margin-bottom: 41px;
}

.foot {

}

.foot ul {
    text-align: inherit;
    list-style: none;
    margin: 0 0 70px -39px;
}

.foot ul li {
    display: inline;
    color: #1e477f;
    font-size: 17px;
    margin: 0 8px 0 0px;
}

.foot-one {

}

.foot-one h3 {
    color: #1e477f;
    font-size: 16px;
    text-align: end;
}




















































































.Phone {
    /* text-align: center; */
    position: absolute;
    display: block;
    width: 1em;
    top: 79%;
    height: 1em;
    font-size: 8vmin;
    background-color: #ffffff;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0 0 0em rgba(10, 10, 10, 0.02), 0em 0.05em 0.1em #09090905;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}

.Phone::before,
.Phone::after {
  position: absolute;
  content: "";
}

.Phone::before {
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    background-color: #63232357;
    border-radius: 100%;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
    transform: translate3d(0, 0, 0) scale(0);
}

.Phone::after {
    top: 0.25em;
    left: 0.25em;
    width: 0.5em;
    height: 0.5em;
    background: url(../img/tu.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.Phone.is-animating {
  -webkit-animation: phone-outer 3000ms infinite;
          animation: phone-outer 3000ms infinite;
}
.Phone.is-animating::before {
  -webkit-animation: phone-inner 3000ms infinite;
          animation: phone-inner 3000ms infinite;
}
.Phone.is-animating::after {
  -webkit-animation: phone-icon 3000ms infinite;
          animation: phone-icon 3000ms infinite;
}

@-webkit-keyframes phone-outer {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0em rgba(0, 0, 0, 0.03), 0em 0.05em 0.1em rgba(10, 10, 10, 0.76);
}
  33.3333% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.1);
    transform: translate3d(0, 0, 0) scale(1.1);
    box-shadow: 0 0 0 0em rgba(0, 0, 0, 0.73), 0em 0.05em 0.1em rgba(0, 0, 0, 0.69);
}
  66.6666% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0.5em rgba(0, 0, 0, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.56);
}
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0em rgba(0, 0, 0, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.62);
}
}

@keyframes phone-outer {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0em rgba(0, 0, 0, 0.03), 0em 0.05em 0.1em rgba(10, 10, 10, 0.76);
}
  33.3333% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.1);
    transform: translate3d(0, 0, 0) scale(1.1);
    box-shadow: 0 0 0 0em rgba(0, 0, 0, 0.73), 0em 0.05em 0.1em rgba(0, 0, 0, 0.69);
}
  66.6666% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0.5em rgba(0, 0, 0, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.56);
}
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0em rgba(0, 0, 0, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.62);
}
}
@-webkit-keyframes phone-inner {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }
  33.3333% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(0.9);
            transform: translate3d(0, 0, 0) scale(0.9);
  }
  66.6666% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }
}
@keyframes phone-inner {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }
  33.3333% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(0.9);
            transform: translate3d(0, 0, 0) scale(0.9);
  }
  66.6666% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }
}
@-webkit-keyframes phone-icon {
  0% {
    -webkit-transform: translate3d(0em, 0, 0);
            transform: translate3d(0em, 0, 0);
  }
  2% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  4% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  6% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  8% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  10% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  12% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  14% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  16% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  18% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  20% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  22% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  24% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  26% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  28% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  32% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  34% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  36% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  38% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  42% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  44% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  46% {
    -webkit-transform: translate3d(0em, 0, 0);
            transform: translate3d(0em, 0, 0);
  }
}
@keyframes phone-icon {
  0% {
    -webkit-transform: translate3d(0em, 0, 0);
            transform: translate3d(0em, 0, 0);
  }
  2% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  4% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  6% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  8% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  10% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  12% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  14% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  16% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  18% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  20% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  22% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  24% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  26% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  28% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  32% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  34% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  36% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  38% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  42% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  44% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  46% {
    -webkit-transform: translate3d(0em, 0, 0);
            transform: translate3d(0em, 0, 0);
  }
}


@media (min-width: 0) and (max-width: 500px){
  .Phone {
    position: absolute;
    right: 0px;
    top: 87%;
  }
}
















/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    position: fixed !important;
    top: 90% !important;
    right: 15px!important;
    transform: translate(-50%,-50%);
    font-size: 47px;
    /* color: #46779900; */
    cursor: pointer;
    border: none;
    /* background: transparent; */
    z-index: 9999;
}


#myForm {

}

.chat-popup {
    background-color: #0a2345;
    display: none;
    width: 328px;
    height: 263px;
    position: fixed;
    bottom: 43px;
    right: 14px;
    border: none;
    border-radius: 9px 9px 9px 9px;
    box-shadow: -13px 7px 37px -14px #000000b0;
}


.new {

}

.new img {
    width: 52px;
    margin: 0 auto;
    margin: 25px 0 23px 133px;
}

.bor {
    border: 1px solid #000000c7;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 65px;
} 

p#ni {
    font-size: 16px;
    line-height: 23px;
    color: white;
    text-align: center;
}

.vi {
    font-size: 23px;
    color: #ff3334;
}

.btn-vi {
    font-size: 14px;
    color: white;
    border: 2px solid #2a5da3;
    padding: 8px 25px 8px 25px;
    border-radius: 36px;
    background: transparent;
    text-align: center;
    margin: 0 0 0 112px;
}


.btn-vi:hover {

}


.open-button.chat-popup{
  display: none;
}

.open-button:hover > .chat-popup{
  display: block;
}















